<h1>Converter</h1>
<f:form action="count" id="mass"  name="mass">
    <div class="container">
        <div class="col-md-3">
            <label>Kilograms</label>
            <f:form.textfield type="number" value="{kilogram}" name="kilogram" property="kilogram" />
        </div>
        <div class="col-md-3">
            <label>Ton</label>
            <f:form.textfield type="number" value="{ton}" name="ton" property="ton"  />
        </div>
        <div class="col-md-3">
            <label>Gram</label>
            <f:form.textfield type="number" value="{gram}" name="gram" property="gram"  />
        </div>
        <div class="col-md-3">
            <label>Pound</label>
            <f:form.textfield type="number" value="{pound}" name="pound" property="pound" />
        </div>
        <br>
    </div>
    <br>
    <div class="col-md-3 pull-right">
    <f:form.submit value="Calculate" class="btn btn-primary"/>
    </div>
</f:form>